rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Hamısı aktiv — anonim auth ilə və ya auth olmadan (dev/test)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
